In [78]:
import pandas as pd
import seaborn as sns

earthquakes_data = pd.read_csv("earthquake_data.csv", index_col='Continent')

earthquakes_data.head()

,City,Place,Date,Time,Magnitude
Continent,,,,,
North America,"Washington, D.C.","7 km WNW of Calverton, Virginia",2013-06-13,18:14:24,2.04
North America,"Washington, D.C.","5 km NNW of Barnesville, Maryland",2010-07-16,12:04:47,3.60
North America,"Washington, D.C.","0 km NNE of Ravensworth, Virginia",2008-05-06,20:30:23,2.02
North America,"Washington, D.C.","3 km S of Butcher's Hill, Maryland",2005-02-23,17:22:44,2.00
North America,Mexico City,"3 km ESE of Venustiano Carranza, Mexico",2019-07-17,06:59:50,3.10

Выведем кол-во землетрясений по городам:

In [ ]:
mean_magnitude = earthquakes_data.groupby(['Continent']).Magnitude.agg(['max','min','mean'])
mean_magnitude

               max   min      mean
Continent
Africa         5.0  2.30  4.237234
Asia           7.5  3.00  4.436667
Europe         6.8  2.00  3.010199
North America  6.6  1.92  3.563906
South America  6.4  2.00  3.023113