In [1]:
import pandas as pd

earthquakes_data = pd.read_csv("earthquake_data.csv")

earthquakes_data.head()

,City,Place,Date,Time,Magnitude
0,"Washington, D.C.","7 km WNW of Calverton, Virginia",2013-06-13,18:14:24,2.04
1,"Washington, D.C.","5 km NNW of Barnesville, Maryland",2010-07-16,12:04:47,3.60
2,"Washington, D.C.","0 km NNE of Ravensworth, Virginia",2008-05-06,20:30:23,2.02
3,"Washington, D.C.","3 km S of Butcher's Hill, Maryland",2005-02-23,17:22:44,2.00
4,Mexico City,"3 km ESE of Venustiano Carranza, Mexico",2019-07-17,06:59:50,3.10